body {
  font-family: 'Be Vietnam', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  margin: 0;
  overflow-x: hidden;
  text-align: center;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

fieldset {
  margin: 0;
  padding: 0;
}

fieldset,
button {
  border-color: transparent;
}

input,
button {
  cursor: pointer;
}
