.manage--feature1 {
  margin-bottom: 100px
}

  .manage--feature1__header--desc,
  .manage--feature1__section--desc,
  .manage--feature1__section2--desc,
  .manage--feature1__section3--desc {
    color: hsl(227, 12%, 61%);
    text-align: left;
    padding-left: 16px;
  }

  .manage--feature1__section__span,
  .manage--feature1__section2__span,
  .manage--feature1__section3__span {
    @include button;
    margin-right: 32px;
  }

  .manage--feature1__section--wrapper,
  .manage--feature1__section2--wrapper,
  .manage--feature1__section3--wrapper {
     @include flexRow;
     flex-direction: row-reverse;
     justify-content: flex-end;
     align-self: start;
     background-color:  hsl(13, 100%, 96%);
     margin-left: 16px;
     border-radius: 14px;
  }

  .manage--feature1__section__heading,
  .manage--feature1__section2__heading,
  .manage--feature1__section3__heading {
    font-weight: 700;
    font-size: 16px;
    margin: 0;
  }

@media (min-width: 1000px) {

  .manage--feature1 {
    margin-bottom: 250px;
  }

  .manage--feature1--container {
    @include breakpoint;
    @include flexRow;
    align-items: baseline;
    gap: 150px;
    text-align: left;
  }

  .manage__header--wrapper {
    text-align: left;
  }

  .manage--feature1__header__heading {
    font-weight: 700;
    font-size: 30px;
    width: 90%;
  }

  .manage--feature1__header--desc {
    width: 80%;
    text-align: left;
    padding-left: 0;
    padding-right: 0;
  }

  .manage--feature1--wrapper {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 20px;
  }

  .manage--feature1__section--wrapper,
  .manage--feature1__section2--wrapper,
  .manage--feature1__section3--wrapper {
     background-color: white;
  }

}

