.header--container {
  margin-left: 16px;
  margin-right: 16px;
}

.header--wrapper {
  @include flexRow;
}

.header__btn {
  display: none;
}

@media (min-width: 1000px) {

  .header--container {
    @include breakpoint;
    @include flexRow;
    gap: 150px;
  }

  .header--wrapper {
    flex-basis: 50%;
  }

  .header__btn {
    display: block;
    @include button;
    flex-basis: 25%;
    z-index: 2;
  }
}
