.manage__masthead {
  position: relative;
  background-image: url(../icons/bg-tablet-pattern.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  position: relative;
}

.manage__masthead--wrapper:nth-of-type(2) {
  position: relative;
}

.manage__masthead--container {
  @include flexColumn;
  flex-direction: column-reverse;
  margin-bottom: 100px;
}

.manage__masthead--wrapper:nth-of-type(1) {
  padding-top: 200px;
}

.manage__masthead__btn {
  @include button;
}

.manage__masthead--desc {
  color: hsl(227, 12%, 61%);
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
}


@media (max-width: 500px) {
  .manage__masthead {
    position: relative;
    top: -123px;
    left: 79px;
  }

  .manage__masthead--wrapper:nth-of-type(1) {
    padding-top: 200px;
  }

  .manage__masthead--wrapper:nth-of-type(2) {
    top: 123px;
    left: -81px;
  }
}

@media (min-width: 500px) {
  .manage__masthead {
    top: -187px;
    left: 79px;
    bottom: 42px;
    right: 38px;
  }

  .manage__masthead--wrapper:nth-of-type(2) {
    position: relative;
    top: 241px;
    left: -14%;
    right: 3%;
  }

}

@media (min-width:1000px) {

  .manage__masthead {
    background-image: none;
    position: unset;
  }

  .manage__masthead--container {
    @include breakpoint;
    @include flexRow;
    gap: 150px;
    align-items: flex-start;
    text-align: left;
    position: relative;
  }

  .manage__masthead--wrapper {
    flex-basis: 50%;
  }

  .manage__masthead--wrapper:nth-of-type(1) {
    padding-top: 100px;
    position: unset;
  }

  .manage__masthead--wrapper:nth-of-type(2) {
    background-image: url('../icons/bg-tablet-pattern.svg');
    background-repeat: no-repeat;
    background-size: 650px 750px;;
    background-position: bottom;
    position: absolute;
    left: 50%;
    top: -78%;
    right: -33%;
    bottom: -5%;
  }

  .manage__masthead__heading {
    font-weight: bold;
    font-size: 50px;
    margin-top: 0;
  }

  .manage__masthead--desc {
    width: 60%;
    padding: 0;
    text-align: left;
  }

  .manage__masthead__img {
    position: absolute;
    top: 56%;
    left: 11%;
    width: 50%;
  }

}




