body {
  font-family: 'Be Vietnam', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  margin: 0;
  overflow-x: hidden;
  text-align: center; }

* {
  box-sizing: border-box; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

img {
  width: 100%; }

a {
  text-decoration: none; }

fieldset {
  margin: 0;
  padding: 0; }

fieldset,
button {
  border-color: transparent; }

input,
button {
  cursor: pointer; }

.manage__masthead {
  position: relative;
  background-image: url(../icons/bg-tablet-pattern.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  position: relative; }

.manage__masthead--wrapper:nth-of-type(2) {
  position: relative; }

.manage__masthead--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: column-reverse;
  margin-bottom: 100px; }

.manage__masthead--wrapper:nth-of-type(1) {
  padding-top: 200px; }

.manage__masthead__btn {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  background-color: #f25f3a;
  color: white;
  font-size: 12px;
  font-weight: 500;
  text-transform: capitalize;
  border-radius: 20px; }

.manage__masthead--desc {
  color: #9095a7;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center; }

@media (max-width: 500px) {
  .manage__masthead {
    position: relative;
    top: -123px;
    left: 79px; }
  .manage__masthead--wrapper:nth-of-type(1) {
    padding-top: 200px; }
  .manage__masthead--wrapper:nth-of-type(2) {
    top: 123px;
    left: -81px; } }

@media (min-width: 500px) {
  .manage__masthead {
    top: -187px;
    left: 79px;
    bottom: 42px;
    right: 38px; }
  .manage__masthead--wrapper:nth-of-type(2) {
    position: relative;
    top: 241px;
    left: -14%;
    right: 3%; } }

@media (min-width: 1000px) {
  .manage__masthead {
    background-image: none;
    position: unset; }
  .manage__masthead--container {
    max-width: 1114px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
    align-items: flex-start;
    text-align: left;
    position: relative; }
  .manage__masthead--wrapper {
    flex-basis: 50%; }
  .manage__masthead--wrapper:nth-of-type(1) {
    padding-top: 100px;
    position: unset; }
  .manage__masthead--wrapper:nth-of-type(2) {
    background-image: url("../icons/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
    background-size: 650px 750px;
    background-position: bottom;
    position: absolute;
    left: 50%;
    top: -78%;
    right: -33%;
    bottom: -5%; }
  .manage__masthead__heading {
    font-weight: bold;
    font-size: 50px;
    margin-top: 0; }
  .manage__masthead--desc {
    width: 60%;
    padding: 0;
    text-align: left; }
  .manage__masthead__img {
    position: absolute;
    top: 56%;
    left: 11%;
    width: 50%; } }

.header--container {
  margin-left: 16px;
  margin-right: 16px; }

.header--wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.header__btn {
  display: none; }

@media (min-width: 1000px) {
  .header--container {
    max-width: 1114px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 150px; }
  .header--wrapper {
    flex-basis: 50%; }
  .header__btn {
    display: block;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    background-color: #f25f3a;
    color: white;
    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
    border-radius: 20px;
    flex-basis: 25%;
    z-index: 2; } }

.manage--feature1 {
  margin-bottom: 100px; }

.manage--feature1--container {
  position: relative; }

.manage--feature1__header--desc,
.manage--feature1__section--desc,
.manage--feature1__section2--desc,
.manage--feature1__section3--desc {
  color: #9095a7;
  text-align: left;
  padding-left: 16px; }

.manage--feature1__section__span,
.manage--feature1__section2__span,
.manage--feature1__section3__span {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  background-color: #f25f3a;
  color: white;
  font-size: 12px;
  font-weight: 500;
  text-transform: capitalize;
  border-radius: 20px;
  margin-right: 32px; }

.manage--feature1__section--wrapper,
.manage--feature1__section2--wrapper,
.manage--feature1__section3--wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-self: start;
  background-color: #ffefeb;
  margin-left: 16px;
  border-radius: 14px; }

.manage--feature1__section__heading,
.manage--feature1__section2__heading,
.manage--feature1__section3__heading {
  font-weight: 700;
  font-size: 16px;
  margin: 0; }

@media (min-width: 1000px) {
  .manage--feature1 {
    margin-bottom: 250px; }
  .manage--feature1--container {
    max-width: 1114px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-items: baseline;
    gap: 150px;
    text-align: left; }
  .manage__header--wrapper {
    text-align: left; }
  .manage--feature1__header__heading {
    font-weight: 700;
    font-size: 30px;
    width: 90%; }
  .manage--feature1__header--desc {
    width: 80%;
    text-align: left;
    padding-left: 0;
    padding-right: 0; }
  .manage--feature1--wrapper {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 20px; }
  .manage--feature1__section--wrapper,
  .manage--feature1__section2--wrapper,
  .manage--feature1__section3--wrapper {
    background-color: white; } }

.manage--features2__section--desc,
.manage--features2__section2--desc,
.manage--features2__section3--desc {
  font-size: 13px;
  line-height: 15px;
  color: #9095a7;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px; }

.manage--features2__section,
.manage--features2__section2,
.manage--features2__section3,
.manage--features2__section4 {
  background-color: #fafafa;
  padding-bottom: 30px;
  text-align: center; }

.manage--features2__section__img,
.manage--features2__section2__img,
.manage--features2__section3__img,
.manage--features2__section4__img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: relative;
  top: -2.5rem; }

.manage--features2__section--name,
.manage--features2__section2--name,
.manage--features2__section3--name {
  font-weight: 700;
  font-size: 12px;
  margin-top: -1rem; }

.features__btn--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px; }

.manage--features2__section__btn {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  background-color: #f25f3a;
  color: white;
  font-size: 12px;
  font-weight: 500;
  text-transform: capitalize;
  border-radius: 20px;
  margin-top: 25px; }

.manage--features2__header__heading {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  padding-bottom: 40px; }

@media (min-width: 1000px) {
  .manage--features2 {
    margin-bottom: 200px; }
  .manage--features2--container {
    position: relative; }
  .manage--features2__header__heading {
    position: absolute;
    top: 55%;
    left: 72%; }
  .manage--features2__header {
    background-image: url("../icons/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
    background-size: 650px;
    background-position: top;
    position: absolute;
    top: -136%;
    left: -105%;
    bottom: 100%;
    right: 0%; }
  .manage--feature2--wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 32px; }
  .manage--features2__section,
  .manage--features2__section2,
  .manage--features2__section3 {
    display: block;
    background-color: #fafafa;
    padding-bottom: 30px;
    text-align: center; }
  .manage--features2__section2 {
    padding-left: 20px;
    padding-right: 20px; }
  .manage--features2__section4__span {
    display: block;
    text-indent: -9999px; } }

.manage--features3 {
  background-color: #f25f3a;
  padding-bottom: 30px; }

.manage--features3__btn {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  background-color: #f25f3a;
  color: white;
  font-size: 12px;
  font-weight: 500;
  text-transform: capitalize;
  border-radius: 20px;
  background-color: white;
  color: #f25f3a; }

.manage--features3__heading {
  font-weight: 700;
  font-size: 30px;
  color: white; }

.manage--features3--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  justify-content: center; }

@media (min-width: 1000px) {
  .manage--features3--wrapper {
    max-width: 1114px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left; }
  .manage--features3__heading {
    font-weight: 700;
    font-size: 30px;
    width: 38%;
    color: white; } }

.footer__nav--active {
  margin-top: 40px; }

.footer__list--active {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.footer__items--active {
  flex-basis: 50%; }

.footer__items--active:not(:last-of-type) {
  margin-bottom: 16px; }

.footer__items--active:last-of-type {
  text-align: left; }

.footer__link--active {
  color: #9095a7; }

@media (min-width: 1000px) {
  .footer__list--active {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    text-align: justify; }
  .footer__items--active:last-of-type {
    text-align: unset; }
  .footer__nav--active {
    margin-top: 0; } }

.input--checkbox {
  visibility: hidden; }

.header__nav {
  width: 80%;
  margin: auto;
  padding: 3rem 1rem;
  background: #fff;
  box-shadow: -2px 4px 5px -4px #000000;
  border-radius: 7px;
  position: absolute;
  transform: translateX(-140%);
  left: 5%;
  top: 90px;
  transition: transform .2s;
  margin-block-start: 34px; }

.header_list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; }

input[type="checkbox"]:checked ~ .header .header__nav {
  transform: translateX(0%);
  z-index: 2; }

input[type="checkbox"]:checked ~ body {
  z-index: 1;
  background: rgba(0, 0, 0, 0.4); }

.header--menu {
  color: transparent;
  background-image: url("../icons/icon_menu.svg");
  background-repeat: no-repeat;
  background-position: right;
  z-index: 2; }

input[type="checkbox"]:checked ~ .header > .header--container > .header--wrapper > .header--menu {
  background-image: url("../icons/icon-close.svg");
  background-repeat: no-repeat; }

.header__link {
  color: black;
  font-weight: 500;
  font-size: 18px; }

.header__items:not(:last-of-type) {
  margin-bottom: 20px; }

@media (min-width: 1000px) {
  .header__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .header__nav {
    flex-basis: 170%;
    position: unset;
    transform: translateX(0);
    box-shadow: unset;
    padding: 0;
    width: auto; }
  .header__list {
    margin: 0; }
  .header__items:not(:last-of-type) {
    padding-right: 16px;
    margin-bottom: 0; }
  .header--menu {
    background-image: none; } }

.footer__nav--icons {
  margin-top: 40px;
  margin-bottom: 40px; }

.footer__list--icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.footer__links--icons {
  display: block;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-size: contain; }

.footer__items--icons {
  width: 50px; }

.footer__links--icons--facebook {
  background-image: url(../icons/icon-facebook.svg); }

.footer__links--icons--youtube {
  background-image: url(../icons/icon-youtube.svg); }

.footer__links--icons--twitter {
  background-image: url(../icons/icon-twitter.svg); }

.footer__links--icons--pinterest {
  background-image: url(../icons/icon-pinterest.svg); }

.footer__links--icons--instagram {
  background-image: url(../icons/icon-instagram.svg); }

@media (min-width: 1000px) {
  .footer__nav--icons {
    margin-top: 0;
    margin-bottom: 0; }
  .footer__list--icons {
    justify-content: unset;
    gap: 3px; } }

.slider .slider-item {
  display: none;
  animation: reveal .5s ease-in-out; }

.slider .slider-item.active {
  display: block; }

.slider .dots {
  text-align: center;
  padding-block-start: 30px;
  display: flex;
  justify-content: center;
  gap: 9px; }

.slider .dots li {
  cursor: pointer;
  display: inline-block;
  background: #F3603C;
  color: #fff;
  padding: 7px 11px;
  line-height: .5;
  border-radius: 50%;
  text-indent: -9999px;
  opacity: .5;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s; }

.slider .dots li.active {
  opacity: 1; }

@keyframes reveal {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.footer__form--container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  margin-top: -16px; }

.footer__btn {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  background-color: #f25f3a;
  color: white;
  font-size: 12px;
  font-weight: 500;
  text-transform: capitalize;
  border-radius: 20px;
  margin-left: 16px; }

.footer__input {
  color: #9095a7;
  background-color: white;
  padding-left: 16px;
  padding-right: 20px;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-color: transparent;
  box-shadow: 0px 0px 1px gray; }

@media (min-width: 1000px) {
  .footer__form {
    display: flex;
    justify-content: flex-end; }
  .footer__form--container {
    margin-top: 0; } }

.footer {
  background-color: #1d1e25;
  padding-bottom: 40px; }

.footer--container {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.footer--desc {
  text-align: center;
  color: #9095a7; }

@media (min-width: 1000px) {
  .footer--container {
    max-width: 1114px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 30% 30% 30%;
    align-items: flex-start;
    column-gap: 50px; }
  .footer--wrapper {
    grid-column: 1 / 2;
    grid-row: 1 / 3; }
  .footer__nav--icons {
    grid-row: 3 / 4;
    grid-column: 1 / 2; }
  .footer__nav--active {
    grid-row: 1 / 4;
    grid-column: 2 / 3; }
  .footer__form {
    grid-row: 1;
    grid-column: 3 / 4; }
  .footer--desc {
    grid-column: 3 / 5;
    grid-row: 3; } }
